pkgbase = rhystic-tracker-git
	pkgdesc = Real-time MTGA match tracking and deck analysis companion for Magic: The Gathering Arena (Git master version)
	pkgver = 1.3.4.r0.g5521159
	pkgrel = 1
	url = https://github.com/Balthazzahr/Rhystic-Tracker
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = libayatana-appindicator
	depends = openssl
	depends = hicolor-icon-theme
	provides = rhystic-tracker
	conflicts = rhystic-tracker
	conflicts = rhystic-tracker-bin
	source = git+https://github.com/Balthazzahr/Rhystic-Tracker.git
	sha256sums = SKIP

pkgname = rhystic-tracker-git
